<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm currently completing my MSc in Software Systems Engineering at 
      <a class="underline-link" href="https://www.ucl.ac.uk/" target="_blank">UCL</a>, where I've also been working with
      <a class="underline-link" href="https://research.ibm.com/" target="_blank">IBM research</a> on applying large language models to legacy code refactoring and automated software quality analysis. Prior to this, I worked at
      <a class="underline-link" href="https://www.accenture.com/" target="_blank">Accenture</a>, where I gained hands-on experience in large-scale software development and delivery and also interned at
      <a class="underline-link" href="https://blobcity.com/home/" target="_blank">Blobcity.</a>
    </p>

    <p>
      As an engineer, I enjoy tackling complex problems at the intersection of <strong>systems, automation, and AI </strong> &mdash; Whether it's 
      modernising codebases, building developer tools, or turning research into production, my goal is to create software that's scalable, reliable, and genuinely impactful.

    </p>

    <p>
      I'm <strong> actively looking for new opportunities </strong> where I can apply my skills in software engineering, AI, and system design to impactful projects &mdash;
      <a class="underline-link" href="/static/Resume-latest.pdf" target="_blank">resume.</a>
      If you have a project in mind or just want to chat, feel free to reach out!

    </p>

    <p>
      When I'm not coding, you'll probably find me watching movies, discovering new games, or grinding competitive matches in 
      <a class="underline-link" href="https://playvalorant.com/en-gb/" target="_blank">Valorant.</a> <img src="/img/emojis/game-controller.png" alt="Game Controller" class="inline-emoji">
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
