<nav class="navbar" id="navbar">
  <div class="navbar__content">
    <div class="navbar__logo">
      <a href="https://mvamsi.com/" onclick="window.location.href='https://mvamsi.com/'; return false;">
        {% if site.baseurl and site.baseurl != '' %}
          <img src="{{ site.baseurl }}/img/logo/logo.svg" alt="Logo" />
        {% else %}
          <img src="img/logo/logo.svg" alt="Logo" />
        {% endif %}
      </a>
    </div>
    
    <!-- Hamburger menu button for mobile -->
    <button class="navbar__hamburger" id="mobile-menu-toggle" aria-label="Toggle mobile menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <div class="navbar__right" id="navbar-menu">
      <div class="social">
        {% for link in site.social %}
        <a href="{{ link.url }}" target="_blank" title="{{ link.title }}">
          {% if site.baseurl and site.baseurl != '' %}
            <img src="{{ site.baseurl }}/img/social/{{ link.title }}.svg" alt="{{ link.title }}" />
          {% else %}
            <img src="img/social/{{ link.title }}.svg" alt="{{ link.title }}" />
          {% endif %}
          <span class="text">{{ link.title }}</span>
        </a>
        {% endfor %}
      </div>
      {% include switch.html %}
    </div>
  </div>
</nav>
