<nav class="navbar" id="navbar">
  <div class="navbar__content">
    <div class="navbar__logo">
      <a href="#top" onclick="scrollToTop()">
        {% if site.baseurl and site.baseurl != '' %}
          <img src="{{ site.baseurl }}/img/logo/logo.svg" alt="Logo" />
        {% else %}
          <img src="img/logo/logo.svg" alt="Logo" />
        {% endif %}
      </a>
    </div>
    
    <!-- Hamburger menu button for mobile -->
    <button class="navbar__hamburger" id="mobile-menu-toggle" aria-label="Toggle mobile menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <div class="navbar__right" id="navbar-menu">
      {% include social-top.html %}
      {% include switch.html %}
    </div>
  </div>
</nav>
