<section class="section other-projects">
  <div class="section__title">Featured Projects</div>
    <!-- Using other-projects as featured projects for now -->
  <div class="section__content">
    {% for project in site.data.other-projects %}
    <div class="project">
      <div class="project__name">
        <a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
      </div>
      <p>{{project.description}}</p>
      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <div class="project__more">
      <a href="{{site.github}}" target="_blank" class="arrow-link">
        <span class="full-text">View More Projects on GitHub</span>
        <span class="short-text">More Projects on GitHub</span>
      </a>
    </div>
  </div>
</section>
