<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">
            <img src="/img/skills/{{language.icon}}.svg" alt="{{language.item}}" class="skill-icon" onerror="this.src='/img/skills/code.svg'">
            {{language.item}}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Frameworks</div>
        <ul>
          {% for framework in site.data.skills.frameworks %}
          <li class="skillz__category__item">
            <img src="/img/skills/{{framework.icon}}.svg" alt="{{framework.item}}" class="skill-icon" onerror="this.src='/img/skills/code.svg'">
            {{framework.item}}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Tools</div>
        <ul>
          {% for tool in site.data.skills.tools %}
          <li class="skillz__category__item">
            <img src="/img/skills/{{tool.icon}}.svg" alt="{{tool.item}}" class="skill-icon" onerror="this.src='/img/skills/code.svg'">
            {{tool.item}}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Databases</div>
        <ul>
          {% for thing in site.data.skills.databases %}
          <li class="skillz__category__item">
            <img src="/img/skills/{{thing.icon}}.svg" alt="{{thing.item}}" class="skill-icon" onerror="this.src='/img/skills/code.svg'">
            {{thing.item}}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
